@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  color: initial;
  text-decoration: none;
  display: block;
}

button {
  cursor: pointer;
}

.active {
  background-color: #fff !important;
  color: #000 !important;
}

.display {
  display: flex !important;
}

.hidden{
  display: none !important;
}

/* Header section */
.header-content {
  width: 100%;
  height: 50px;
  position: absolute;
}

.header-content nav {
  height: 50px;
  display: flex;
  padding: 0 1em 0 1em;
  justify-content: space-between;
}

.brand a img {
  width: 60px;
  height: 80px;
}

.header-content nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  list-style: none;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
}

.header-content nav ul a {
  height: 100%;
  width: 120px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content nav ul a:first-child {
  margin-right: 1em;
}

.header-content nav ul a:last-child {
  margin-left: 1em;
}

/* main section */
.main-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.main-content .right-main {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.main-content h1,
.main-content h3 {
  text-shadow: 1px 1px 17px rgb(10, 10, 10);
}

.main-content .right-main a {
  margin-top: 10px;
  padding: 1em;
  background-color: #fff;
}

/* Modal section */
.modal-overlay {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  -webkit-transition: all 0.5s 0.5s ease;
  -moz-transition: all 0.5s 0.5s ease;
  -o-transition: all 0.5s 0.5s ease;
  transition: all 0.5s 0.5s ease;
}

.modal-overlay span {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal {
  width: 40%;
  background-color: #fff;
  -webkit-transition: all 0.5s 0.1s ease;
  -moz-transition: all 0.5s 0.1s ease;
  -o-transition: all 0.5s 0.1s ease;
  transition: all 0.5s 0.1s ease;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.modal .form-options {
  width: 100%;
  height: 60px;
  display: flex;
}

.modal .form-options button {
  width: 50%;
  height: 100%;
  background-color: #000;
  border: none;
  padding: 0;
  color: #fff;
}

.register,
.login {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.register .name-input {
  display: flex;
}

.register .name-input input:first-child,
.register .name-input input:last-child {
  width: 50%;
}

.register input,
.login input {
  height: 50px;
  border: none;
}

.register input:hover {
  outline: transparent;
}

.error {
  background-color: #ff9898;
  color: #ff000f;
  padding: 1em;
  display: none;
}

/* app main section  */

.container {
  display: flex;
  position: relative;
  width: 80%;
  height: 100vh;
  background-color: #111;
  color: #eee;
}

.header-app-nav {
  width: 20%;
  background-color: #333;
  color: #eee;
  height: 100vh;
  font-weight: 800;
}
.container .search-bar {
  height: min-content;
  position: absolute;
  top: 10px;
  right: 10px;
}

.container .create-view-note {
  width: 100%;
}

.container .create-view-note .create-edit-note,
.container .create-view-note .note-list {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container .create-view-note .create-edit-note .create-edit-form {
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .create-view-note .create-edit-note .create-edit-form input,
.container .create-view-note .create-edit-note .create-edit-form textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #eee;
  padding: 0.5em;
  margin-bottom: 0.3em;
}
.container
  .create-view-note
  .create-edit-note
  .create-edit-form
  input[type="submit"] {
  width: 30%;
  border-radius: 10px;
  padding: 1em;
  background-color: #fff;
  color: #000;
}

.container
  .create-view-note
  .create-edit-note
  .create-edit-form
  input:first-child {
  font-size: 30px;
}
.container .create-view-note .create-edit-note .create-edit-form textarea {
  font-size: 22px;
  resize: none;
}

.container .create-view-note .create-edit-note .create-edit-form textarea {
  height: 70vh;
}


/* Navigation Section */

nav .nav-links {
  list-style: none;
}

nav .nav-links a li {
  height: 70px;
  width: 100%;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav .nav-links a li:hover {
  background-color: #fff;
  color: #000;
}
